{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Phone Shop</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
  <div class="header">
    <h1>Phone Shop</h1>
  </div>
  <div class="sidebar">
    <h2>Navigation</h2>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'create_invoice' %}">Create Invoice</a></li>
      <li><a href="{% url 'invoice_list' %}">Invoices</a></li>
      <li><a href="{% url 'phone_list' %}">Items in store</a></li>
      <li><a href="{% url 'stock_data' %}">Stock Data</a></li>
    </ul>
  </div>
  <div class="main-content">
    {% block content %}{% endblock %}
  </div>
  <div class="footer">
    <p>Copyright © Phone Shop </p>
  </div>
</body>
</html>
