

/* General styling */
.body {
    margin: 5;
    font-family: Arial, sans-serif;
  }
  
  /* Header styling */
  .header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  /* Sidebar styling */
  .sidebar {
    float: left;
    width: 20%;
    background-color: #f1f1f1;
    padding: 1em;
  }
  
  .sidebar h2 {
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: black;
  }
  
  /* Main content styling */
  .main-content {
    margin-left: 20%; /* Same as sidebar width */
    padding: 1em;
  }
  
  /* Footer styling */
  .footer {
    clear: both;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
  }
  